@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.elm_ct {
  /*Display*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.ver {
  /*Display*/
  flex-direction: column;
}

.hor {
  /*Display*/
  flex-direction: row;
}
